* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E6E9DF;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


/* 
 -- navbar -- 
*/
nav {
    background: rgba(230, 233, 223, 70%);
    position: sticky;
    top: 0;
    padding: 1.4rem 7%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    display: flex;
    gap: 10px;
}

nav .nav-logo a {
    margin-left: 8px;
    font-size: 20px;
}

nav .nav-logo img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

nav .nav-logo h3 {
    font-family: 'Cherry Bomb One';
}

/* navbar link menu */
nav .navbar-list .link {
    display: inline-flex;
    gap: 50px;
}

nav .navbar-list .link {
    font-size: 15px;
    padding: 30px;
    transition: all 0.2s ease;
}

nav .navbar-list .link:hover {
    font-weight: 700;
    font-size: 15px;
}

/* nav menu button */
nav button {
    color: black;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 15px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.2s ease;
}

nav .nav-extra i {
    font-size: 30px;
}

nav button:hover {
    background-color: #fff;
    color: black;
}

/* search input */
nav .searchContainer {
    position: absolute;
    top: 50px;
    right: 80px;
    margin: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #1c1e53;
    border-radius: 15px;
}

nav #searchButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
}

nav #searchButton:hover {
    background-color: #eeeeee;
    border-radius: 15px;
}

nav #searchButton input {
    background-color: transparent;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

nav #searchInput {
    display: none;
    padding: 10px;
    transition: width 0.3s ease;
}

nav #searchInput.active {
    display: inline-block;
    width: 200px;
}

nav #searchInput::placeholder {
    text-align: center;
}

nav button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

/* 
-- header -- 
*/
header {
    padding: 0 80px;
    height: calc(100vh - 80px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left {
    position: relative;
    width: 640px;
}

header .right {
    width: 600px;
}

header .right h3 {
    font-size: 45px;
}

header .right h2 {
    margin-top: -2rem;
    color: #90B231;
    font-family: 'Cherry Bomb One', sans-serif;
    font-size: 80px;
    font-weight: 200;
}

.check {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #90B231;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.check:hover {
    background-color: #465813;
}

/* -- first section -- */
section.first-section{
    width: 100%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

section .first-container {
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFB950;
    color: #fff;
    height: 500px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section .first-container h3 {
    margin-block: 30px;
    line-height: 0.9;
    text-align: center;
    font-family: 'Cherry Bomb One';
    font-weight: 100;
    font-size: 4rem;
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 50%));
}

section .first-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

section .sec-container{
    
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    max-height: 500px;
    border-radius: 30px;
}

section .sec-container h2 {
    font-size: 2rem;
}

section .table-container {
    width: 100%;
    overflow-x: auto;
}
table.top-lists {
    width: 100%;
    border-collapse: collapse;
    font-weight: bold;
}
table.top-lists img{
    min-width: 40px;
    max-width: 120px;
}

table.top-lists td {
    padding: 10px;
    text-align: left;
}
table.top-lists .topping {
    font-weight: normal;
}



/* about section */
section.second-section {
    display: flex;
    margin-right: -1rem;
}
section .about {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    color: #fff;
    margin: 2rem 1rem;
    padding: 2rem;
    background-color: #88BFE0;
    border-radius: 25px;
}

/* media screen */
/* pad */
@media screen and (max-width: 992px) {

    nav .navbar-list {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #90B231;
        width: 18rem;
        height: 60vh;
        transition: 0.3s;
        border-radius: 20px;
    }

    nav .navbar-list.open {
        left: 0;
    }

    nav .navbar-list a {
        color: #fff;
        display: block;
        margin-left: 3rem;
        margin-bottom: -2rem;
        font-size: 2rem;
    }

    nav .nav-extra {
        display: flex;
        gap: 20px;
    }

    nav button {
        display: inline;
        position: relative;
    }

    nav ul {
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav #searchButton {
        display: inline-block;
        padding: 10px 20px;
    }

    nav #searchInput.active {
        display: inline-block;
        width: 100px;
    }

    nav button#menuButton {
        display: flex;
    }

    /* header */
    header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .left {
        display: none;
    }

    section.first-section {
        padding-inline: 10px;
        height: 1000px;
        flex-direction: column;
    }


}

/* tablet */
@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 42px;
    }

    section.first-section {
        margin-inline: 10px;
        height: 1000px;
        flex-direction: column;
    }



}

/* mobile */
@media screen and (max-width: 576px) {

    nav {
        margin: 0 -2rem;
    }

    nav .nav-logo a {
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    nav .nav-extra {
        gap: 2px;
    }

    nav ul li a {
        font-size: 10px;
    }


}