body {
    background-color: rgba(230, 233, 223, 1);
    font-family: poppins;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    width: 503px;
    height: 640px;
    text-align: center;
    border-radius: 2rem;
    margin: auto;
    position: relative;
    z-index: 100;
}

.container h2 {
    padding-top: 2rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.email-password input {
    width: 25rem;
    height: 2.5rem;
    margin-bottom: 10px;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 5px;
    border-color: rgba(132, 131, 131, 0.78);
    border-width: 1px;
    font-size: 1rem;
}

.email-password a {
    text-decoration: underline;
}

.form-register p {
    font-size: 14px;
    padding-top: 1rem;
    color: rgba(168, 164, 164, 0.842);
}

.form-register a {
    text-decoration: none;
    color: black;
}

.form-register a:active {
    color: blue;
}

.forget-a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    position: relative;
    left: -8.7rem;
}

/* button sign up */
.btn-signup {
    width: 26.2rem;
    height: 3rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    background-color: rgba(249, 190, 118, 1);
    border-color: transparent;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: -2rem;
}

.btn-signup:hover {
    background-color: rgb(236, 174, 99);
}

/* Google Apple Facebook */
.sev-ops {
    margin-right: 1.5rem;
    margin-top: -0.5rem;
}

.sev-ops a:hover {
    background-color: aliceblue;
}


.sev-ops a {
    display: inline;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.sev-ops img {
    position: relative;
    top: 10px;
    margin-right: 3px;
}

.p-bottom {
    margin-top: 1.5rem;
}

.left-image {
    margin-top: -35rem;
    margin-left: 4rem;
    z-index: -100;
}

.right-image {
    float: right;
    margin-top: -38rem;
    margin-right: 4rem;
}
